<!DOCTYPE html>
<html>
  <head>
    <title>Workout Lounge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div class='container'>
    <body>
      <%= render 'shared/header' %>
      
      <%= render 'shared/main' %>
      
      <%= render 'shared/footer' %>
    
  </body>
  </div>
</html>
